
<h1>Add a New Doctor</h1>
<form class="" action="/add_doctor" method="post">
  <div class="form-group">
  <label for="">Doctor Name (First Last)</label>
  <input type="text" name="doctor_name" value="">
  <br>
  <label for="">Specialty</label>
  <input type="text" name="specialty" value="">
</div>

  <button type="submit">Post</button>
</form>

<!-- <form class="" action="/<%= @patient_name %>/add_patient" method="post">
  <div class="form-group">
  <label for="">Patient Name (First Last)</label>
  <input type="text" name="patient_name" value="">
  <br>
  <label for="">Birthday</label>
  <input type="text" name="birthday" value="">
  </div>
  <button type="submit">Post</button>
</form> -->
